body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image:url("http://cdn.wallpapersafari.com/1/78/pjiXCR.jpg");
    background-size:cover;

}
.nav.navbar-nav li a {
   color:#bbff33;
 }

.nav.navbar-nav li a:hover {
background-color: #ccff99;
 color:#0059b3;
}
.active{
    background-color:#2eb82e;
    color:#004d00;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 550px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }
.disp{
    position:relative;
}
.carousel-caption{
    color:#ffbf00;
    text-align:center;
    margin-top:100px;
    margin-bottom:50px;

}
.page-header{
    text-align:center;
    color:#cc0000;
    font-weight:bold;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
    color: #ff6600;
}